.modal-chat {

  .modal-chat-header {
    margin-top: 0;
    color: $color-subheadline;
    font-size: 17px;
    font-weight: 100;
  }

  .modal-chat-textarea {
    width: 99%; /* todo: wtf, why does this have to be 99% */
    height: 88px;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
  }

  .link {
    color: $color-gray--light;
  }

  .upload-photo,
  .upload-video {
    display: inline-block;
    margin-right: 50px;
    font-weight: 100;
    font-size: 15px;
  }

  .camera-icon,
  .video-icon {
    margin-right: 5px;
  }

  .post-btn {
    margin-top: -5px;
  }
}