.app-header {
  background-color: #262728;
  height: 60px;
  box-sizing: border-box;

  .app-header-left {
    float: left;
    margin-top: 18px;
    margin-left: 77px;
  }

  .app-header-right {
    float: right;
    margin-top: 16px;
    margin-right: 70px;
  }

  .brand-title {
    margin: -2px 0 0 6px;
    // padding-top: 7px;
  }
  .brand-title-link {
    color: $color-subheadline;
    font-size: 18px;
    font-weight: 100;
  }

  .brand-title-alt {
    color: $color-gray--light;
    margin-left: -0.4rem;
  }


  .user {
    height: 40px;
  }

  .search {
    margin-left: 18px;
    margin-right: 15px;
    position: relative;
  }

  .search-input {
    background: transparent;
    border: solid 1px $color-gray--dark;
    border-radius: 4px;
    height: 26px;
    width: 200px;
  }
  .search-input:focus {
  }

  .search-icon {
    position: absolute;
    right: 5px;
    top: 4px;
  }

  .caret-down-icon {
    vertical-align: top;
    margin-top: 12px;
    margin-left: 8px;
  }

  .dropdown {
    background-color: $color-settingsDropdown;
    position: absolute;
    right: 60px;
    top: 55px;
    border-radius: 4px;
  }

  .list-item {
    padding: 10px 20px 10px 10px;
    border-bottom: solid 1px $color-gray--light;
  }

  .link {
    color: $color-gray--light;
  }
}