<div class="app-header-left pull-left">
  <div class="brand inline-block-top">
    <div class="icon logo-icon"></div>
    <h1 class="brand-title inline-block-top">
      <a class="subtle-text--blue" href="#/dashboard">
        simply
        <span class="brand-title-alt">social</span>
      </a>
    </h1>
  </div>
</div>

<div class="app-header-right pull-right">
  <div class="chat inline-block-top">
    <div class="chat-icon icon cursor-pointer space-above--xsmall" ng-click="createChat()"></div>
  </div>

  <div class="app-header-search inline-block-top">
    <input type="text" class="textfield app-header-search-input"/>
    <div class="search-icon icon app-header-search-icon"></div>
  </div>

  <div class="user inline-block-top" ng-mouseover="dropdownVisible=true" ng-mouseleave="dropdownVisible=false">
    <img ng-src="{{account.tinyIcon}}">
    <div class="caret-down-icon icon app-header-caret-down"></div>
    <div class="app-header-dropdown-caret" ng-show="dropdownVisible">
      <div class="caret-up-icon icon"></div>
    </div>
    <div class="app-header-dropdown" ng-show="dropdownVisible" ng-click="dropdownVisible=false">
      <ul class="list">
        <li class="list-item app-header-list-item">
          <a href="#/profile" class="link link-lightblue">Profile</a>
        </li>
        <li class="list-item app-header-list-item">
          <a href="#/followered" class="link link-lightblue">Followers</a>
        </li>
        <li class="list-item app-header-list-item">
          <a href="#/following" class="link link-lightblue">Following</a>
        </li>
        <li class="list-item app-header-list-item">
          <a href="#/settings" class="link link-lightblue">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</div>