<div class="layout-middle">
  <h2 class="headline space-aboveAndBelow--large">Settings</h2>
  <form>
    <h3 class="subheadline space-below--medium">Account</h3>
    <div class="clearfix">
      <div class="col-3">
        <img ng-src="{{account.icon}}" class="space-below--xsmall block"/>
        <button class="btn btn-default btn-sm subtle-text lowercase">Change</button>
      </div>
      <div class="col-9">
        <div class="form-control">
          <div class="control-icon icon user-icon"></div>
          <input type="text" class="textfield icon-textfield" ng-model="account.name"/>
        </div>
        <div class="form-control">
          <div class="control-icon icon email-icon"></div>
          <input type="email" class="textfield icon-textfield" ng-model="account.email"/>
        </div>
        <div class="form-control">
          <div class="control-icon icon password-icon"></div>
          <input type="password" class="textfield passwordfield icon-textfield" ng-model="account.password"/>
          <a class="cursor-pointer control-cta">change</a>
        </div>
      </div>
    </div>
    <hr class="breaker space-above--large space-below--xlarge"/>
    <h3 class="subheadline space-below--large">Notifications</h3>
    <div class="clearfix">
      <div class="form-control">
        <input type="checkbox" class="switch" id="notification-postFavorited" ng-model="account.notifications.postFavorited">
        <label for="notification-postFavorited" class="form-label">
          <span class="switch-control"><span class="switch-control-circle"></span></span>
          email me when my posts are marked as favorites
        </label>
      </div>
      <div class="form-control">
        <input type="checkbox" class="switch" id="notification-mentioned" ng-model="account.notifications.mentioned">
        <label for="notification-mentioned" class="form-label">
          <span class="switch-control"><span class="switch-control-circle"></span></span>
          email me when I'm mentioned
        </label>
      </div>
      <div class="form-control">
        <input type="checkbox" class="switch" id="notification-postReply" ng-model="account.notifications.postReply">
        <label for="notification-postReply" class="form-label">
          <span class="switch-control"><span class="switch-control-circle"></span></span>
          email me when I get a reply
        </label>
      </div>
      <div class="form-control">
        <input type="checkbox" class="switch" id="notification-newFollower" ng-model="account.notifications.newFollower">
        <label for="notification-newFollower" class="form-label">
          <span class="switch-control"><span class="switch-control-circle"></span></span>
          email me when someone follows me
        </label>
      </div>
    </div>
    <hr class="breaker space-above--xlarge space-below--xlarge"/>
    <h3 class="subheadline space-below--large">Privacy</h3>
    <div class="clearfix">
      <div class="form-control-group">
        <div class="form-control">
          <input type="radio" name="tagging" value="all" class="radio" id="privacy-tagging--all" ng-model="account.privacy.tagging">
          <label for="privacy-tagging--all" class="form-label">
            <span class="radio-control"><span class="radio-control-circle"></span></span>
            allow anyone to tag me
          </label>
        </div>
        <div class="form-control">
          <input type="radio" name="tagging" value="followers" class="radio" id="privacy-tagging--followers" ng-model="account.privacy.tagging">
          <label for="privacy-tagging--followers" class="form-label">
            <span class="radio-control"><span class="radio-control-circle"></span></span>
            only allow people I follow to tag me
          </label>
        </div>
        <div class="form-control">
          <input type="radio" name="tagging" value="none" class="radio" id="privacy-tagging--none" ng-model="account.privacy.tagging">
          <label for="privacy-tagging--none" class="form-label">
            <span class="radio-control"><span class="radio-control-circle"></span></span>
            don't allow anyone to tag me
          </label>
        </div>
      </div>
      <div class="form-control">
        <input type="radio" class="radio" id="privacy-location" ng-model="account.privacy.location">
        <label for="privacy-location" class="form-label">
          <span class="radio-control"><span class="radio-control-circle"></span></span>
          add a location to my posts
        </label>
      </div>
      <div class="form-control">
        <input type="radio" class="radio" id="privacy-findByEmail" ng-model="account.privacy.findByEmail">
        <label for="privacy-findByEmail" class="form-label">
          <span class="radio-control"><span class="radio-control-circle"></span></span>
          let others find me by my email address
        </label>
      </div>
      <div class="form-control">
        <input type="radio" class="radio" id="privacy-customAds" ng-model="account.privacy.customAds">
        <label for="privacy-customAds" class="form-label">
          <span class="radio-control"><span class="radio-control-circle"></span></span>
          tailor ads based on my information
        </label>
      </div>
    </div>
    <hr class="breaker space-above--xlarge space-below--xlarge"/>
    <button class="btn btn-primary">Save Changes</button>
  </form>
</div>