$color-lightgreen: #00b286;
$color-green: #01B286;

$color-offwhite: #f9fafb;
$color-offwhite--darker: #eef0f2;

$color-gray: #70767f;
$color-gray--lighter: #dee1e5;
$color-gray--light: #bec3cc;
$color-gray--dark: #44474b;

$color-white: #fff;

$color-modalBackdrop: rgba(10, 10, 10, 1);
$color-settingsDropdown: #F4F5F7;