@font-face {
  /** TODO: use .woff */
  font-family: 'ProximaNova';
  src: url('../fonts/proxima-nova/ProximaNova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /** TODO: use .woff */
  font-family: 'ProximaNova';
  src: url('../fonts/proxima-nova/ProximaNova-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  /** TODO: use .woff */
  font-family: 'ProximaNova';
  src: url('../fonts/proxima-nova/ProximaNova-Semibold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
// @font-face {
//   /** TODO: use .woff */
//   font-family: 'ProximaNovaCond';
//   src: url('../fonts/proxima-nova/ProximaNovaCond-Regular.otf') format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }