.icon {
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  background-position: bottom;
}

.logo-icon {
  background-image: url('../images/logo.png');
  width: 27px;
  height: 25px;
}

.chat-icon {
  background-image: url('../images/icons/chat-icon.png');
  width: 31px;
  height: 26px;
}

.search-icon {
  background-image: url('../images/icons/search-icon.png');
  width: 20px;
  height: 22px;
}

.user-icon {
  background-image: url('../images/icons/user-icon.png');
  width: 16px;
  height: 16px;
}

.caret-down-icon {
  background-image: url('../images/icons/caret-down-icon.png');
  width: 7px;
  height: 4px;
}
.caret-up-icon {
  background-image: url('../images/icons/caret-down-icon.png');
  width: 7px;
  height: 4px;
  transform: rotate(180deg);
}

.camera-icon {
  background-image: url('../images/icons/camera-icon.png');
  width: 18px;
  height: 13px;
}
.camera-icon-gray {
  background-image: url('../images/icons/camera-icon-gray.png');
  width: 18px;
  height: 13px;
}

.video-icon {
  background-image: url('../images/icons/video-icon.png');
  width: 18px;
  height: 13px;
}
.video-icon-gray {
  background-image: url('../images/icons/video-icon-gray.png');
  width: 18px;
  height: 13px;
}

.list-icon {
  background-image: url('../images/icons/list-icon.png');
  width: 9px;
  height: 9px;
}

.grid-icon {
  background-image: url('../images/icons/grid-icon.png');
  width: 9px;
  height: 9px;
}

.reply-icon {
  background-image: url('../images/icons/reply-icon.png');
  width: 13px;
  height: 13px;
}

.favorite-icon {
  background-image: url('../images/icons/favorite-icon.png');
  width: 13px;
  height: 13px;
}

.email-icon {
  background-image: url('../images/icons/email-icon.png');
  width: 16px;
  height: 16px;
}

.password-icon {
  background-image: url('../images/icons/password-icon.png');
  width: 16px;
  height: 17px;
}

.close-icon {
  background-image: url('../images/icons/close-icon.png');
  width: 21px;
  height: 21px;
}