.post-cell {
  max-width: 375px;
  border: solid 1px $color-gray--lighter;
  border-radius: 4px;
  margin: 0 10px 10px 10px;
  color: $color-gray--lightblue;
}

.post-cell-left { width: 18%; }
.post-cell-right { width: 80%; }
.post-cell-image { max-width: 100%; }