.post-cell {
  width: 375px;
  border: solid 1px $color-gray--lighter;
  border-radius: 4px;
  margin: 0 10px 10px 10px;
  color: $color-subheadline;
}
.post-cell-header {
  margin: 25px 25px 15px 25px;
}
.post-cell-left {
  width: 18%;
}
.post-cell-right {
  width: 80%;
}
.post-cell-image {
  max-width: 100%;
}

.post-cell .post-author,
.post-cell .post-meta {
  float: none;
}
.post-cell .post-meta {
  margin: 20px;
  text-align: right;
}