<div class="post-cell">
  <div class="space-medium--adjusted clearfix">
    <div class="post-cell-left inline-block-top">
      <img ng-src="{{ post.author.picture }}"/>
    </div>
    <div class="post-cell-right inline-block-top">
      <h3 class="space-below--small subtle-text--blue nospace-tlr">{{post.author.name}}</h3>
      <p class="post-message" ng-bind-html="post.message"></p>
    </div>
  </div>
  <img class="post-cell-image" ng-src="{{ post.image }}" ng-if="post.image"/>
  <img class="post-cell-image" ng-src="{{ post.video }}" ng-if="post.video"/>
  <div class="text-right color-graylight space-medium">
    <div class="icon reply-icon space-left--medium"></div>
    <div class="icon favorite-icon space-left--medium"></div>
    <span class="space-left--medium">{{post.date}}</span>
  </div>
</div>