.post {
  border: solid 1px $color-gray--lighter;
  border-radius: 4px;
  margin-bottom: 30px;
}
.post-content,
.post-actions {
  padding: 25px;
}

.post-content .col-10 {
  margin-left: -4%;
  width: 89%;
}

.post-comments,
.post-actions {
  background-color: $color-offwhite;
}
.post-message {
  font-size: 16px;
  font-weight: 100;
  margin-top: 1px;
  line-height: 24px;
  color: $color-subheadline;
  /** Not performant */
  a {
    color: $color-gray--light;
    &:hover {
      text-decoration: underline;
    }
  }
}


.post-meta {
  float: right;
  color: $color-gray--light;
}
.post-author {
  margin: 0 0 10px 0;
  float: left;
  color: $color-postAuthor;
  font-size: 17px;
  font-weight: 100;
}

.post-meta .icon,
.post-meta .post-date {
  margin-left: 20px;
}


.post-comment .post-content {
  padding-bottom: 5px;
}
.post-comment .post-content,
.post-actions {
  border-top: solid 1px $color-offwhite--darker;
}

.post-actions {
  text-align: center;
}
.post-action-reply-input {
  width: 100%;
  border-color: $color-gray--lighter;
  color: $color-gray--lighter;
  &::-webkit-input-placeholder {
    color: $color-gray--lighter;
  }
}

.post .caret-down-icon,
.post .caret-up-icon {
  margin-top: 5px;
  margin-left: 5px;
}

.post-image {
  margin-left: -18%;
  margin-bottom: -28px;
  max-width: 100%;
}
@media (max-width: 1200px) {
  .post-image {
    margin-left: 0;
  }
}

.post-expand {
  color: $color-gray--light;
  font-size: 13px;
  font-weight: 100;
}