.post {
  border: solid 1px $color-gray--lighter;
  border-radius: 4px;
  margin-bottom: 30px;
}

.post-message {
  font-size: 16px;
  font-weight: 100;
  margin-top: 1px;
  margin-bottom: 0;
  line-height: 24px;
  color: $color-gray--lightblue;
  /** Not performant */
  a {
    color: $color-gray--light;
    &:hover {
      text-decoration: underline;
    }
  }
}

.post-comment .post-content { padding-bottom: 5px; }
.post-comment .post-message { margin-bottom: 20px; }

.post-comment .post-content,
.post-actions {
  border-top: solid 1px $color-offwhite--darker;
}

.post-action-reply-input {
  width: 100%;
  border-color: $color-gray--lighter;
  color: $color-gray--lighter;
  &::-webkit-input-placeholder {
    color: $color-gray--lighter;
  }
}

.post-image { max-width: 100%; }