.page-dashboard-header {
  background: transparent url('../images/dashboard/header.png') -30px;
  height: 423px;
  text-align: center;
}
.page-dashboard {
  @import 'dashboard-message';
  @import 'dashboard-nav';
  @import 'dashboard-pageoptions';

  .page-dashboard-nav {
    position: relative;
    top: -51px;
  }
  .list-horizontal-item {
    padding: 15px 5px;
  }

  .page-dashboard-content {
    clear: both;
  }

  .page-dashboard-footer {
    text-align: center;

    .link {
      color: $color-lightgreen;
      font-size: 16px;
    }

    .copyright {
      font-size: 14px;
      color: $color-gray;
      -webkit-font-smoothing: antialiased;
    }

    .copyright-year,
    .copyright-copysign {
      font-size: 12px;
    }

    .link,
    .copyright {
      font-size: 16px;
      font-variant: small-caps;
      font-weight: 500;
    }
  }
}